.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
*.codekit
.sass-cache
.idea
validation-report.json
validation-status.json
npm-debug.log
lerna-debug.log

# Jest files
dist
coverage

# Don't commit temp test files
__tests__/integration/*/_fixture
__tests__/integration/*/AU-DesignSystem/*
__tests__/integration/*/AU-DesignSystem.zip

# Do commit fixtures in full
!__tests__/integration/**/fixture/**/dist/
!__tests__/integration/**/fixture/*/node_modules/

# Allow integration test modules
node_modules/*
!__tests__/integration/mocks/node_modules/@gov.au/
